templates/S2R_ORACLE2BLOB/DE2/DataFactory_SQLDW/datafactory_pipeline.mustache
{
    "name": "{{ template_config.outputs.0.output_file.name }}",
    "properties": {
        "description": "A pipeline that extracts the delta of newly created rows from {{source.schema}}.{{source.tablename}} from the database {{source.database}} by comparing it to {{source.schema}}_{{template_config.variables.source_tablename_formatted}} in the target database using the Dataset reference of {{properties.sqldwsource}} in Data Factory. It then drops it into the {{target.storage_container}} using {{target.genericdataset}} as a reference for the Blob storage account.",
        "activities": [
            {
                "name": "Find Delta Maximum Value",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": "IF object_id('main.{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}','U') is not null 
	                                            SELECT Cast(MAX([{{source.delta_column_date.name}}]) as date) as delta_max From [main].[{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}]
                                           ELSE 
	                                            SELECT CAST({{source.delta_column_date.default_if_no_rows}} as datetime) as delta_max"
                    },
                    "dataset": {
                        "referenceName": "{{properties.sqldwsource}}",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Extract delta rows from source table",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Find Delta Maximum Value",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": {
                            "value": "SELECT {{#columns}}REPLACE(REPLACE([{{name}}], CHR(13), '    '), CHR(10), '    '){{^last}},{{/last}}{{/columns}} FROM {{ source.schema }}{{ source.tablename }} \nWHERE {{ delta_column }} > '@{activity('Find Delta Maximum Value').output.firstRow.delta_max }  '",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "{{source.genericdataset}}",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "{{target.genericdataset}}",
                        "type": "DatasetReference",
                        "parameters": {
                            "subfolder": "{{template_config.variables.source_tablename_formatted}}",
                            "filename": "@{pipeline().triggerTime}_{{ template_config.properties.pattern }}_Delta.dsv"
                        }
                    }
                ]
            }
        ],
        "folder": {
            "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}"
        },
        "annotations": [
            "Templator: v{{templator_info.version}}"
        ]
    }
}