templates/S2R_ORACLE2BLOB/DE2/DataFactory_SQLDW/datafactory_pipeline.mustache
{
    "name": "{{ template_config.outputs.0.output_file.name }}",
    "properties": {
        "activities": [
            {
                "name": "Get Maximum Value",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": "Select CONVERT(VARCHAR(20),isnull(max({{source.delta_column}}),'{{source.delta_column_format}}'),121) as delta_max From [Main].[{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}];"
                    },
                    "dataset": {
                        "referenceName": "{{properties.sqldwsource}}",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Extract delta rows from source table",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get Maximum Value",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": {
                            "value": "SELECT {{#columns}}REPLACE(REPLACE([{{name}}], CHR(13), '    '), CHR(10), '    '){{^last}},{{/last}}{{/columns}} FROM {{ source.schema }}{{ source.tablename }} \nWHERE {{ delta_column }} > '@{activity('Get Maximum Value').output.firstRow.maxDate }  '",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "MAIN_DUMMY",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "RAW_{{source.database}}_DUMMY",
                        "type": "DatasetReference",
                        "parameters": {
                            "subfolder": "{{template_config.variables.source_tablename_formatted}}",
                            "filename": "@{pipeline().triggerTime}_{{ template_config.properties.pattern }}_Delta.dsv"
                        }
                    }
                ]
            }
        ],
        "folder": {
            "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}"
        },
        "annotations": [
            "Templator: v{{templator_info.version}}"
        ]
    }
}