templates/S2R_2BLOB/ORACLE/DE1/DataFactory/datafactory_pipeline.mustache
{
    "name": "{{ template_config.outputs.0.output_file.name }}",
    "properties": {
        "description": "A pipeline that extracts the full table from {{source.schema}}.{{source.tablename}} from the database {{source.database}}. It then drops it into the {{target.storage_container}} using {{target.genericdataset}} as a reference for the Blob storage account.",
        "activities": [
            {
                "name": "Extract full table from source table",
                "type": "Copy",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": "SELECT {{#source.date_columns}}\"{{name}}\" AS \"{{name_without_spaces}}\",{{/source.date_columns}}{{#columns}}REPLACE(REPLACE({{name}}, CHR(13), '    '), CHR(10), '    '){{^last}},{{/last}}{{/columns}} FROM {{source.schema}}.{{source.tablename}}"
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "{{source.genericdataset}}",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "{{target.genericdataset}}",
                        "type": "DatasetReference",
                        "parameters": {
                            "subfolder": "{{source.schema}}_{{template_config.variables.source_tablename_formatted}}",
                            "filename": "@concat('out', '_rId_', pipeline().RunId, '_dt_', pipeline().TriggerTime,'.dsv')"
                        }
                    }
                ]
            },
            {
                "name": "Send Failed Email",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "url": "{{properties.logic_app_url}}",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "message": "@{activity('Extract full table from source table').error.message}",
                        "Subject": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}} failed",
                        "numberOfRecords": "0",
                        "dataFactoryName": "@{pipeline().DataFactory}",
                        "pipelineName": "@{pipeline().Pipeline}",
                        "receiver": "@pipeline().parameters.receiver",
                        "Guid": "{{properties.logic_app_secret}}"
                    }
                }
            }
        ],
        "folder": {
            "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}"
        },
        "annotations": [
            "Templator: v{{templator_info.version}}"{{#tags}},{{/tags}}
            {{#tags}}
                {{label}}{{^last}},{{/last}}
            {{/tags}}
        ]
    }
}